#########################
# chart-releaser
#########################

/.cr-release-packages
/.cr-index

#########################
# MacOS
#########################

.DS_Store

#########################
# IntelliJ IDEA
#########################

.idea
