apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  gituser: {{ .Values.secret.git_user }}
  gitpassword: {{ .Values.secret.git_password }}
  highlightpassword: {{ .Values.secret.highlight_password }}
  highlightviewerpassword: {{ .Values.secret.highlight_viewerpassword }}
  highlightadminpassword: {{ .Values.secret.highlight_adminpassword }}
  postgres_password: {{ .Values.secret.postgres_password }}