{{- if .Values.server.istio.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ .Values.server.name }}
  namespace: {{ .Values.namespace.name }}
spec:
  hosts:
  - {{ quote .Values.server.istio.host }}
  gateways:
  - {{ .Values.server.istio.gateway }}
  http:
    - route:
        - destination:
            host: {{ .Values.server.name }}
            port:
              number: {{ .Values.server.container.port }}
{{- end }}
