# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ .Values.database.name }}-config
#   namespace: {{ .Values.namespace.name }}
#   labels:
#     app: {{ .Values.database.name }}
# data:
#   POSTGRES_DB: {{ .Values.database.schema }}
