kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Values.database.name }}-initdb-config
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.database.name }}
data:
  initdb.sql: |
    --
    -- PostgreSQL database dump
    --

    -- Dumped from database version 9.6.2
    -- Dumped by pg_dump version 9.6.2

    SET statement_timeout = 0;
    SET lock_timeout = 0;
    SET idle_in_transaction_session_timeout = 0;
    SET client_encoding = 'UTF8';
    SET standard_conforming_strings = on;
    SET check_function_bodies = false;
    SET client_min_messages = warning;
    SET row_security = off;

    --
    -- Name: highlight; Type: SCHEMA; Schema: -; Owner: highlight
    --
    ALTER DATABASE HIGHLIGHT OWNER TO {{ .Values.database.secret.username }};

    CREATE SCHEMA {{ .Values.database.schema }};

    ALTER SCHEMA {{ .Values.database.schema }} OWNER TO {{ .Values.database.secret.username }};

    --
    -- Name: plpgsql; Type: EXTENSION; Schema: -; Owner:
    --

    CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;

    --
    -- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner:
    --

    COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';

    SET search_path = highlight, pg_catalog;

    SET default_tablespace = '';

    SET default_with_oids = false;
