# apiVersion: v1
# kind: Secret
# metadata:
#   name: {{ .Values.database.name }}-secret
#   namespace: {{ .Values.namespace.name }}
# type: Opaque
# stringData:
#   username: {{ .Values.database.secret.username }}
#   password: {{ .Values.database.secret.password }}
