apiVersion: v1
data:
  env.js: |
    (function (window) {
      window.__env = window.__env || {};

      window.__env.keycloakConfig = {
        url: {{ .Values.configMap.keycloak.url | quote }},
        realm: {{ .Values.configMap.keycloak.realm | quote }},
        clientId: {{ .Values.configMap.keycloak.clientId | quote }}
      };

      window.__env.SAGE_APPLICATION_CONFIG = {
        CUSTOMER: {{ .Values.configMap.sageConfig.flavor | quote }},
        SAGE_FRONTEND_URL: {{ .Values.configMap.sageConfig.sage_frontend_url | quote }},
        SAGE_BACKEND_URL: {{ .Values.configMap.sageConfig.sage_backend_url | quote }}
      };

      window.__env.SOURCE_CODE_UPLOAD_CONFIG = {
        SOURCE_CODE_UPLOAD_URL: {{ .Values.configMap.uploadConfig.source_code_upload_url | quote }}
      };

      window.__env.COMMONDATA_CONFIG = {
        COMMONDATA_URL: {{ .Values.configMap.commondataConfig.commondata_url | quote }}
      };

      window.__env.HIGHLIGHT_AGENT_CONFIG = {
        HIGHLIGHT_AGENT_URL: {{ .Values.configMap.highlightAgentConfig.highlight_agent_url | quote }}
      };

      window.__env.REPORTS_SERVICE_CONFIG = {
          REPORTS_SERVICE_URL: {{ .Values.configMap.reportsServiceConfig.reports_service_url | quote }}
      };

      window.__env.NAVIGATION_MENU_CONFIG = {
        ADVISOR_URL: {{ .Values.configMap.navigationMenuConfig.advisor_frontend_url | quote }},
        CAST_HL_URL: {{ .Values.configMap.navigationMenuConfig.cast_hl_url | quote }},
        SONARQUBE_URL: {{ .Values.configMap.navigationMenuConfig.sonarqube_url | quote }},
        METABASE_URL: {{ .Values.configMap.navigationMenuConfig.metabase_url | quote }},
        KIBANA_URL: {{ .Values.configMap.navigationMenuConfig.kibana_url | quote }},
        CAST_MRI_URL: {{ .Values.configMap.navigationMenuConfig.cast_mri_url | quote }},
        DEEP_ANALYSIS_DASHBOARD_URL: {{ .Values.configMap.navigationMenuConfig.deep_analysis_dashboard_url | quote }},
        DYNATRACE_URL: {{ .Values.configMap.navigationMenuConfig.dynatrace_url | quote }},
        O_AND_M_URL: {{ .Values.configMap.navigationMenuConfig.o_and_m_url | quote }},
        APTIO_URL: {{ .Values.configMap.navigationMenuConfig.aptio_url | quote }}
      };

      window.__env.EMBED_CONFIG = {
        CAST_HL_SAML_URL: {{ .Values.configMap.embedConfig.cast_hl_saml_url | quote }},
        SONARQUBE_OIDC_OR_SAML: {{ .Values.configMap.embedConfig.oidc_or_saml | quote }},
        SUPERSET_METRICS_URL: {{ .Values.configMap.embedConfig.superset_metrics_url | quote }},
        SUPERSET_METRIC_DASHBOARD_NUM: {{ .Values.configMap.embedConfig.superset_metric_dashboard_num | quote }}
      };

      window.__env.STATIC_LINKS = {
        TERMS_OF_USE_URL: '',
        ABOUT_URL: '',
        HELP_CENTER_URL: {{ .Values.configMap.staticLinksConfig.help_center_url | quote }},
        UPLOAD_FORMAT_HELP_URL: ''
      }

      // Whether or not to enable debug mode
      // Setting this to false will disable console output
      window.__env.enableDebug = true;

    } (this));
kind: ConfigMap
metadata:
  name: {{ .Values.name }}-config
  namespace: {{ .Values.namespace }}
