# Default values for uploader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

name: uploader
namespace: 

imagePullSecrets: 

image:
  repository:
  

container:
  port: 8080
  env:
    sage_url: 
    sage_http_protocol: "https://"
    git_server_ip_address: ""
    git_cli_protocol: "https"
    git_user: 
    git_user_email: 
    git_group: 
service:
  type: ClusterIP
  ports:
    port: 8080
    protocol: TCP
    name: http

secret:
  data:
    gituser: 
    gitpassword: 

keycloak:
  allowed_origins:
  auth_server_url:
  realm: 
  
ingress:
  enabled: true
  hosts:
    - sample.com
  # The ingress path. Useful to host metabase on a subpath, such as `/metabase`.
  path: /
  labels:
    # Used to add custom labels to the Ingress
    # Useful if for example you have multiple Ingress controllers and want your Ingress controllers to bind to specific Ingresses
    # traffic: internal
  annotations: {}
    #kubernetes.io/ingress.class: nginx
    #kubernetes.io/tls-acme: "true"
  tls:
    - secretName: tls-sample.com
      hosts:
        - sample.com

istio:
  gateways:
  hosts:
  port:
  enabled:
